.main-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1.2rem 0;
  background: transparent;
  font-size: 1.1rem;
}

.main-nav a {
  color: #5a514b;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease;
  position: relative;
}

.main-nav a:hover,
.main-nav a.active-link {
  color: #cbaacb;
}

.main-nav a.active-link::after,
.main-nav a:hover::after {
  content: '';
  position: absolute;
  bottom: -4px;   // distan»õa sub text
  left: 0;
  width: 100%;
  height: 2px;    // grosimea liniei
  background-color: #cbaacb;
}